<AddressBaseDefs>
  <!--<AddressBase baseName="EAPWrite" device="W" baseAddress="0000"></AddressBase>-->
  <!--AddressBase baseName="EAP_W" device="W" baseAddress="0000">
  </AddressBase-->
  <!--**************************************************************************************************************************-->
  <!--***********************************************************BC to Read***********************************************************-->
  <!--**************************************************************************************************************************-->

  
  <!--************************OHBC_CV_PORT*********************-->
  <!--_____________________________T9__________________________-->
  
  <AddressBase baseName="T9_READ" device="D" baseAddress="8321"/>
  <AddressBase baseName="T9_WRITE" device="D" baseAddress="5337"/>
  <AddressBase baseName="T9_RFID" device="D" baseAddress="11200"/>
  <AddressBase baseName="T9_BOX_CST_ID" device="D" baseAddress="11200"/>
  <!--_____________________________T10_________________________-->
  <AddressBase baseName="T10_READ" device="D" baseAddress="8561"/>
  <AddressBase baseName="T10_WRITE" device="D" baseAddress="5369"/>
  <AddressBase baseName="T10_RFID" device="D" baseAddress="11200"/>
  <AddressBase baseName="T10_BOX_CST_ID" device="D" baseAddress="11200"/>
  <!--_____________________________T13_________________________-->
  <AddressBase baseName="T13_READ" device="D" baseAddress="9281"/>
  <AddressBase baseName="T13_WRITE" device="D" baseAddress="5465"/>
  <AddressBase baseName="T13_RFID" device="D" baseAddress="11200"/>
  <AddressBase baseName="T13_BOX_CST_ID" device="D" baseAddress="11200"/>
  <!--_____________________________T14_________________________-->
  <AddressBase baseName="T14_READ" device="D" baseAddress="9521"/>
  <AddressBase baseName="T14_WRITE" device="D" baseAddress="5497"/>
  <AddressBase baseName="T14_RFID" device="D" baseAddress="11200"/>
  <AddressBase baseName="T14_BOX_CST_ID" device="D" baseAddress="11200"/>
  <!--_____________________________T11_________________________-->
  <AddressBase baseName="T11_READ" device="D" baseAddress="8801"/>
  <AddressBase baseName="T11_WRITE" device="D" baseAddress="5401"/>
  <AddressBase baseName="T11_RFID" device="D" baseAddress="11200"/>
  <AddressBase baseName="T11_BOX_CST_ID" device="D" baseAddress="11200"/>
  <!--_____________________________T12_________________________-->
  <AddressBase baseName="T12_READ" device="D" baseAddress="9041"/>
  <AddressBase baseName="T12_WRITE" device="D" baseAddress="5433"/>
  <AddressBase baseName="T12_RFID" device="D" baseAddress="11200"/>
  <AddressBase baseName="T12_BOX_CST_ID" device="D" baseAddress="11200"/>
  <!--_____________________________T15_________________________-->
  <AddressBase baseName="T15_READ" device="D" baseAddress="9761"/>
  <AddressBase baseName="T15_WRITE" device="D" baseAddress="5529"/>
  <AddressBase baseName="T15_RFID" device="D" baseAddress="11200"/>
  <AddressBase baseName="T15_BOX_CST_ID" device="D" baseAddress="11200"/>
  <!--_____________________________T16_________________________-->
  <AddressBase baseName="T16_READ" device="D" baseAddress="10001"/>
  <AddressBase baseName="T16_WRITE" device="D" baseAddress="5561"/>
  <AddressBase baseName="T16_RFID" device="D" baseAddress="11200"/>
  <AddressBase baseName="T16_BOX_CST_ID" device="D" baseAddress="11200"/>
  <!--_____________________________T1_________________________-->
  <AddressBase baseName="T1_READ" device="D" baseAddress="6401"/>
  <AddressBase baseName="T1_WRITE" device="D" baseAddress="5081"/>
  <AddressBase baseName="T1_RFID" device="D" baseAddress="11200"/>
  <AddressBase baseName="T1_BOX_CST_ID" device="D" baseAddress="11200"/>
  <!--_____________________________T2_________________________-->
  <AddressBase baseName="T2_READ" device="D" baseAddress="6641"/>
  <AddressBase baseName="T2_WRITE" device="D" baseAddress="5113"/>
  <AddressBase baseName="T2_RFID" device="D" baseAddress="11200"/>
  <AddressBase baseName="T2_BOX_CST_ID" device="D" baseAddress="11200"/>
  <!--_____________________________T3_________________________-->
  <AddressBase baseName="T3_READ" device="D" baseAddress="6881"/>
  <AddressBase baseName="T3_WRITE" device="D" baseAddress="5145"/>
  <AddressBase baseName="T3_RFID" device="D" baseAddress="11200"/>
  <AddressBase baseName="T3_BOX_CST_ID" device="D" baseAddress="11200"/>
  <!--_____________________________T4_________________________-->
  <AddressBase baseName="T4_READ" device="D" baseAddress="7121"/>
  <AddressBase baseName="T4_WRITE" device="D" baseAddress="5177"/>
  <AddressBase baseName="T4_RFID" device="D" baseAddress="11200"/>
  <AddressBase baseName="T4_BOX_CST_ID" device="D" baseAddress="11200"/>
  <!--_____________________________T5_________________________-->
  <AddressBase baseName="T5_READ" device="D" baseAddress="7361"/>
  <AddressBase baseName="T5_WRITE" device="D" baseAddress="5209"/>
  <AddressBase baseName="T5_RFID" device="D" baseAddress="11200"/>
  <AddressBase baseName="T5_BOX_CST_ID" device="D" baseAddress="11200"/>
  <!--_____________________________T6_________________________-->
  <AddressBase baseName="T6_READ" device="D" baseAddress="7601"/>
  <AddressBase baseName="T6_WRITE" device="D" baseAddress="5241"/>
  <AddressBase baseName="T6_RFID" device="D" baseAddress="11200"/>
  <AddressBase baseName="T6_BOX_CST_ID" device="D" baseAddress="11200"/>
  <!--_____________________________T7_________________________-->
  <AddressBase baseName="T7_READ" device="D" baseAddress="7841"/>
  <AddressBase baseName="T7_WRITE" device="D" baseAddress="5273"/>
  <AddressBase baseName="T7_RFID" device="D" baseAddress="11200"/>
  <AddressBase baseName="T7_BOX_CST_ID" device="D" baseAddress="11200"/>
  <!--_____________________________T8_________________________-->
  <AddressBase baseName="T8_READ" device="D" baseAddress="8081"/>
  <AddressBase baseName="T8_WRITE" device="D" baseAddress="5305"/>
  <AddressBase baseName="T8_RFID" device="D" baseAddress="11200"/>
  <AddressBase baseName="T8_BOX_CST_ID" device="D" baseAddress="11200"/>
 <!--________________________OHxC&MGV______________________-->
  <AddressBase baseName="MGV_READ" device="D" baseAddress="6400"/>
  <AddressBase baseName="MGV_WRITE" device="D" baseAddress="5060"/>

</AddressBaseDefs>
