<AddressBaseDefs>
  <!--<AddressBase baseName="EAPWrite" device="W" baseAddress="0000"></AddressBase>-->
  <!--AddressBase baseName="EAP_W" device="W" baseAddress="0000">
  </AddressBase-->
  <!--**************************************************************************************************************************-->
  <!--***********************************************************BC to Read***********************************************************-->
  <!--**************************************************************************************************************************-->
  <AddressBase baseName="OHxC" device="W" baseAddress="0000"/>

  <AddressBase baseName="MTL_TO_OHXC" device="4" baseAddress="7351"/>

  <AddressBase baseName="MTL_TO_OHXC_INDEX_AREA" device="4" baseAddress="3108"/>
  <AddressBase baseName="MTL_TO_OHXC_HANDSHAKE_AREA" device="4" baseAddress="3114"/>
  <AddressBase baseName="MTL_TO_OHXC_CURRENT_CAR_ID" device="4" baseAddress="3119"/>
  <AddressBase baseName="MTL_TO_OHXC_MTL_CAR_OUT_REQUEST" device="4" baseAddress="3122"/>
  <AddressBase baseName="MTL_TO_OHXC_REPLY_OHXC_CAR_OUT_NOTIFY" device="4" baseAddress="3125"/>
  <AddressBase baseName="MTL_TO_OHXC_REQUEST_CAR_IN_DATA_CHECK" device="4" baseAddress="3126"/>
  <AddressBase baseName="MTL_TO_OHXC_LFT_STATUS" device="4" baseAddress="3129"/>
  <AddressBase baseName="MTL_TO_OHXC_ALARM_REPORT" device="4" baseAddress="3149"/>
  <AddressBase baseName="MTL_TO_OHXC_CST_INTERFACE" device="0" baseAddress="624"/>

  <AddressBase baseName="OHXC_TO_MTL_INDEX_AREA" device="4" baseAddress="2990"/>
  <AddressBase baseName="OHXC_TO_MTL_HANDSHAKE_AREA" device="4" baseAddress="3001"/>
  <AddressBase baseName="OHXC_TO_MTL_DATE_TIME_SYNC_COMMAND" device="4" baseAddress="3006"/>
  <AddressBase baseName="OHXC_TO_MTL_DATA_MESSAGE_DOWNLOAD" device="4" baseAddress="3013"/>
  <AddressBase baseName="OHXC_TO_MTL_CAR_OUT_REALTIME_INFO" device="4" baseAddress="3064"/>
  <AddressBase baseName="OHXC_TO_MTL_CAR_OUT_REPLY" device="4" baseAddress="3074"/>
  <AddressBase baseName="OHXC_TO_MTL_CAR_OUT_NOTIFY" device="4" baseAddress="3075"/>
  <AddressBase baseName="OHXC_TO_MTL_REPLY_CAR_IN_DATA_CHECK" device="4" baseAddress="3078"/>
  <AddressBase baseName="OHXC_TO_MTL_CST_INTERFACE" device="0" baseAddress="592"/>
  
  <AddressBase baseName="MTS_TO_OHXC" device="4" baseAddress="7351"/>

  <AddressBase baseName="MTS_TO_OHXC_INDEX_AREA" device="4" baseAddress="3108"/>
  <AddressBase baseName="MTS_TO_OHXC_HANDSHAKE_AREA" device="4" baseAddress="3114"/>
  <AddressBase baseName="MTS_TO_OHXC_CURRENT_CAR_ID" device="4" baseAddress="3119"/>
  <AddressBase baseName="MTS_TO_OHXC_MTS_CAR_OUT_REQUEST" device="4" baseAddress="3122"/>
  <AddressBase baseName="MTS_TO_OHXC_REPLY_OHXC_CAR_OUT_NOTIFY" device="4" baseAddress="3125"/>
  <AddressBase baseName="MTS_TO_OHXC_REQUEST_CAR_IN_DATA_CHECK" device="4" baseAddress="3126"/>
  <AddressBase baseName="MTS_TO_OHXC_LFT_STATUS" device="4" baseAddress="3129"/>
  <AddressBase baseName="MTS_TO_OHXC_ALARM_REPORT" device="4" baseAddress="3149"/>
  <AddressBase baseName="MTS_TO_OHXC_CST_INTERFACE" device="0" baseAddress="624"/>

  <AddressBase baseName="OHXC_TO_MTS_INDEX_AREA" device="4" baseAddress="2990"/>
  <AddressBase baseName="OHXC_TO_MTS_HANDSHAKE_AREA" device="4" baseAddress="3001"/>
  <AddressBase baseName="OHXC_TO_MTS_DATE_TIME_SYNC_COMMAND" device="4" baseAddress="3006"/>
  <AddressBase baseName="OHXC_TO_MTS_DATA_MESSAGE_DOWNLOAD" device="4" baseAddress="3013"/>
  <AddressBase baseName="OHXC_TO_MTS_CAR_OUT_REALTIME_INFO" device="4" baseAddress="3064"/>
  <AddressBase baseName="OHXC_TO_MTS_CAR_OUT_REPLY" device="4" baseAddress="3074"/>
  <AddressBase baseName="OHXC_TO_MTS_CAR_OUT_NOTIFY" device="4" baseAddress="3075"/>
  <AddressBase baseName="OHXC_TO_MTS_REPLY_CAR_IN_DATA_CHECK" device="4" baseAddress="3078"/>
  <AddressBase baseName="OHXC_TO_MTS_CST_INTERFACE" device="0" baseAddress="592"/>


  <AddressBase baseName="HID_TO_OHXC_DATA_AREA" device="4" baseAddress="0320"/>
  <AddressBase baseName="HID_TO_OHXC_DATA_AREA_B" device="0" baseAddress="866"/>
  <!--<AddressBase baseName="OHXC_TO_HID_DATA_AREA" device="0" baseAddress="859"/>-->
  <AddressBase baseName="OHXC_TO_HID_DATA_AREA" device="4" baseAddress="0322"/>

  
  <!--************************OHBC_CV_PORT*********************-->
  <!--_____________________________T9__________________________-->
  
  <AddressBase baseName="T9_READ" device="D" baseAddress="8321"/>
  <AddressBase baseName="T9_WRITE" device="D" baseAddress="5337"/>
  <AddressBase baseName="T9_RFID" device="D" baseAddress="11200"/>
  <AddressBase baseName="T9_BOX_CST_ID" device="D" baseAddress="5341"/>
  <!--_____________________________T10_________________________-->
  <AddressBase baseName="T10_READ" device="D" baseAddress="8561"/>
  <AddressBase baseName="T10_WRITE" device="D" baseAddress="5369"/>
  <AddressBase baseName="T10_RFID" device="D" baseAddress="11200"/>
  <AddressBase baseName="T10_BOX_CST_ID" device="D" baseAddress="5373"/>
  <!--_____________________________T13_________________________-->
  <AddressBase baseName="T13_READ" device="D" baseAddress="9281"/>
  <AddressBase baseName="T13_WRITE" device="D" baseAddress="5465"/>
  <AddressBase baseName="T13_RFID" device="D" baseAddress="11200"/>
  <AddressBase baseName="T13_BOX_CST_ID" device="D" baseAddress="5469"/>
  <!--_____________________________T14_________________________-->
  <AddressBase baseName="T14_READ" device="D" baseAddress="9521"/>
  <AddressBase baseName="T14_WRITE" device="D" baseAddress="5497"/>
  <AddressBase baseName="T14_RFID" device="D" baseAddress="11200"/>
  <AddressBase baseName="T14_BOX_CST_ID" device="D" baseAddress="5501"/>
  <!--_____________________________T11_________________________-->
  <AddressBase baseName="T11_READ" device="D" baseAddress="8801"/>
  <AddressBase baseName="T11_WRITE" device="D" baseAddress="5401"/>
  <AddressBase baseName="T11_RFID" device="D" baseAddress="11200"/>
  <AddressBase baseName="T11_BOX_CST_ID" device="D" baseAddress="5405"/>
  <!--_____________________________T12_________________________-->
  <AddressBase baseName="T12_READ" device="D" baseAddress="9041"/>
  <AddressBase baseName="T12_WRITE" device="D" baseAddress="5433"/>
  <AddressBase baseName="T12_RFID" device="D" baseAddress="11200"/>
  <AddressBase baseName="T12_BOX_CST_ID" device="D" baseAddress="5437"/>
  <!--_____________________________T15_________________________-->
  <AddressBase baseName="T15_READ" device="D" baseAddress="9761"/>
  <AddressBase baseName="T15_WRITE" device="D" baseAddress="5529"/>
  <AddressBase baseName="T15_RFID" device="D" baseAddress="11200"/>
  <AddressBase baseName="T15_BOX_CST_ID" device="D" baseAddress="5533"/>
  <!--_____________________________T16_________________________-->
  <AddressBase baseName="T16_READ" device="D" baseAddress="10001"/>
  <AddressBase baseName="T16_WRITE" device="D" baseAddress="5561"/>
  <AddressBase baseName="T16_RFID" device="D" baseAddress="11200"/>
  <AddressBase baseName="T16_BOX_CST_ID" device="D" baseAddress="5565"/>
  <!--_____________________________T1_________________________-->
  <AddressBase baseName="T1_READ" device="D" baseAddress="6401"/>
  <AddressBase baseName="T1_WRITE" device="D" baseAddress="5081"/>
  <AddressBase baseName="T1_RFID" device="D" baseAddress="11200"/>
  <AddressBase baseName="T1_BOX_CST_ID" device="D" baseAddress="5085"/>
  <!--_____________________________T2_________________________-->
  <AddressBase baseName="T2_READ" device="D" baseAddress="6641"/>
  <AddressBase baseName="T2_WRITE" device="D" baseAddress="5113"/>
  <AddressBase baseName="T2_RFID" device="D" baseAddress="11200"/>
  <AddressBase baseName="T2_BOX_CST_ID" device="D" baseAddress="5117"/>
  <!--_____________________________T3_________________________-->
  <AddressBase baseName="T3_READ" device="D" baseAddress="6881"/>
  <AddressBase baseName="T3_WRITE" device="D" baseAddress="5145"/>
  <AddressBase baseName="T3_RFID" device="D" baseAddress="11200"/>
  <AddressBase baseName="T3_BOX_CST_ID" device="D" baseAddress="5149"/>
  <!--_____________________________T4_________________________-->
  <AddressBase baseName="T4_READ" device="D" baseAddress="7121"/>
  <AddressBase baseName="T4_WRITE" device="D" baseAddress="5177"/>
  <AddressBase baseName="T4_RFID" device="D" baseAddress="11200"/>
  <AddressBase baseName="T4_BOX_CST_ID" device="D" baseAddress="5181"/>
  <!--_____________________________T5_________________________-->
  <AddressBase baseName="T5_READ" device="D" baseAddress="7361"/>
  <AddressBase baseName="T5_WRITE" device="D" baseAddress="5209"/>
  <AddressBase baseName="T5_RFID" device="D" baseAddress="11200"/>
  <AddressBase baseName="T5_BOX_CST_ID" device="D" baseAddress="5213"/>
  <!--_____________________________T6_________________________-->
  <AddressBase baseName="T6_READ" device="D" baseAddress="7601"/>
  <AddressBase baseName="T6_WRITE" device="D" baseAddress="5241"/>
  <AddressBase baseName="T6_RFID" device="D" baseAddress="11200"/>
  <AddressBase baseName="T6_BOX_CST_ID" device="D" baseAddress="5245"/>
  <!--_____________________________T7_________________________-->
  <AddressBase baseName="T7_READ" device="D" baseAddress="7841"/>
  <AddressBase baseName="T7_WRITE" device="D" baseAddress="5273"/>
  <AddressBase baseName="T7_RFID" device="D" baseAddress="11200"/>
  <AddressBase baseName="T7_BOX_CST_ID" device="D" baseAddress="5277"/>
  <!--_____________________________T8_________________________-->
  <AddressBase baseName="T8_READ" device="D" baseAddress="8081"/>
  <AddressBase baseName="T8_WRITE" device="D" baseAddress="5305"/>
  <AddressBase baseName="T8_RFID" device="D" baseAddress="11200"/>
  <AddressBase baseName="T8_BOX_CST_ID" device="D" baseAddress="5309"/>
 <!--________________________OHxC&MGV______________________-->
  <AddressBase baseName="MGV_READ" device="D" baseAddress="6400"/>
  <AddressBase baseName="MGV_WRITE" device="D" baseAddress="5060"/>
  <AddressBase baseName="MGV_TIME" device="D" baseAddress="5007"/>
</AddressBaseDefs>
