<EQMapToValueEvent>
  
  <EQObject id="T9" cate="PortStation" MPLCName="OHBC" isValueEventTrigger="Y">
    <ValueEvent baseName="T9_READ" relativeName="PORT_READ"></ValueEvent>
    <ValueEvent baseName="T9_WRITE" relativeName="PORT_WRITE"></ValueEvent>
    <ValueEvent baseName="T9_RFID" relativeName="PORT_RFID_READ_RESULT"></ValueEvent>
    <ValueEvent baseName="T9_BOX_CST_ID" relativeName="PORT_BOX_CST_ID"></ValueEvent>
  </EQObject>

  <EQObject id="T10" cate="PortStation" MPLCName="OHBC" isValueEventTrigger="Y">
    <ValueEvent baseName="T10_READ" relativeName="PORT_READ"></ValueEvent>
    <ValueEvent baseName="T10_WRITE" relativeName="PORT_WRITE"></ValueEvent>
    <ValueEvent baseName="T10_RFID" relativeName="PORT_RFID_READ_RESULT"></ValueEvent>
    <ValueEvent baseName="T10_BOX_CST_ID" relativeName="PORT_BOX_CST_ID"></ValueEvent>
  </EQObject>

  <EQObject id="T13" cate="PortStation" MPLCName="OHBC" isValueEventTrigger="Y">
    <ValueEvent baseName="T13_READ" relativeName="PORT_READ"></ValueEvent>
    <ValueEvent baseName="T13_WRITE" relativeName="PORT_WRITE"></ValueEvent>
    <ValueEvent baseName="T13_RFID" relativeName="PORT_RFID_READ_RESULT"></ValueEvent>
    <ValueEvent baseName="T13_BOX_CST_ID" relativeName="PORT_BOX_CST_ID"></ValueEvent>
  </EQObject>

  <EQObject id="T14" cate="PortStation" MPLCName="OHBC" isValueEventTrigger="Y">
    <ValueEvent baseName="T14_READ" relativeName="PORT_READ"></ValueEvent>
    <ValueEvent baseName="T14_WRITE" relativeName="PORT_WRITE"></ValueEvent>
    <ValueEvent baseName="T14_RFID" relativeName="PORT_RFID_READ_RESULT"></ValueEvent>
    <ValueEvent baseName="T14_BOX_CST_ID" relativeName="PORT_BOX_CST_ID"></ValueEvent>
  </EQObject>
  
  <EQObject id="T11" cate="PortStation" MPLCName="OHBC" isValueEventTrigger="Y">
    <ValueEvent baseName="T11_READ" relativeName="PORT_READ"></ValueEvent>
    <ValueEvent baseName="T11_WRITE" relativeName="PORT_WRITE"></ValueEvent>
    <ValueEvent baseName="T11_RFID" relativeName="PORT_RFID_READ_RESULT"></ValueEvent>
    <ValueEvent baseName="T11_BOX_CST_ID" relativeName="PORT_BOX_CST_ID"></ValueEvent>
  </EQObject>
  
  <EQObject id="T12" cate="PortStation" MPLCName="OHBC" isValueEventTrigger="Y">
    <ValueEvent baseName="T12_READ" relativeName="PORT_READ"></ValueEvent>
    <ValueEvent baseName="T12_WRITE" relativeName="PORT_WRITE"></ValueEvent>
    <ValueEvent baseName="T12_RFID" relativeName="PORT_RFID_READ_RESULT"></ValueEvent>
    <ValueEvent baseName="T12_BOX_CST_ID" relativeName="PORT_BOX_CST_ID"></ValueEvent>
  </EQObject>
  
  <EQObject id="T15" cate="PortStation" MPLCName="OHBC" isValueEventTrigger="Y">
    <ValueEvent baseName="T15_READ" relativeName="PORT_READ"></ValueEvent>
    <ValueEvent baseName="T15_WRITE" relativeName="PORT_WRITE"></ValueEvent>
    <ValueEvent baseName="T15_RFID" relativeName="PORT_RFID_READ_RESULT"></ValueEvent>
    <ValueEvent baseName="T15_BOX_CST_ID" relativeName="PORT_BOX_CST_ID"></ValueEvent>
  </EQObject>
  
  <EQObject id="T16" cate="PortStation" MPLCName="OHBC" isValueEventTrigger="Y">
    <ValueEvent baseName="T16_READ" relativeName="PORT_READ"></ValueEvent>
    <ValueEvent baseName="T16_WRITE" relativeName="PORT_WRITE"></ValueEvent>
    <ValueEvent baseName="T16_RFID" relativeName="PORT_RFID_READ_RESULT"></ValueEvent>
    <ValueEvent baseName="T16_BOX_CST_ID" relativeName="PORT_BOX_CST_ID"></ValueEvent>
  </EQObject>
  
  <EQObject id="T1" cate="PortStation" MPLCName="OHBC" isValueEventTrigger="Y">
    <ValueEvent baseName="T1_READ" relativeName="PORT_READ"></ValueEvent>
    <ValueEvent baseName="T1_WRITE" relativeName="PORT_WRITE"></ValueEvent>
    <ValueEvent baseName="T1_RFID" relativeName="PORT_RFID_READ_RESULT"></ValueEvent>
    <ValueEvent baseName="T1_BOX_CST_ID" relativeName="PORT_BOX_CST_ID"></ValueEvent>
  </EQObject>
  
  <EQObject id="T2" cate="PortStation" MPLCName="OHBC" isValueEventTrigger="Y">
    <ValueEvent baseName="T2_READ" relativeName="PORT_READ"></ValueEvent>
    <ValueEvent baseName="T2_WRITE" relativeName="PORT_WRITE"></ValueEvent>
    <ValueEvent baseName="T2_RFID" relativeName="PORT_RFID_READ_RESULT"></ValueEvent>
    <ValueEvent baseName="T2_BOX_CST_ID" relativeName="PORT_BOX_CST_ID"></ValueEvent>
  </EQObject>
  
  <EQObject id="T3" cate="PortStation" MPLCName="OHBC" isValueEventTrigger="Y">
    <ValueEvent baseName="T3_READ" relativeName="PORT_READ"></ValueEvent>
    <ValueEvent baseName="T3_WRITE" relativeName="PORT_WRITE"></ValueEvent>
    <ValueEvent baseName="T3_RFID" relativeName="PORT_RFID_READ_RESULT"></ValueEvent>
    <ValueEvent baseName="T3_BOX_CST_ID" relativeName="PORT_BOX_CST_ID"></ValueEvent>
  </EQObject>
  
  <EQObject id="T4" cate="PortStation" MPLCName="OHBC" isValueEventTrigger="Y">
    <ValueEvent baseName="T4_READ" relativeName="PORT_READ"></ValueEvent>
    <ValueEvent baseName="T4_WRITE" relativeName="PORT_WRITE"></ValueEvent>
    <ValueEvent baseName="T4_RFID" relativeName="PORT_RFID_READ_RESULT"></ValueEvent>
    <ValueEvent baseName="T4_BOX_CST_ID" relativeName="PORT_BOX_CST_ID"></ValueEvent>
  </EQObject>
  
  <EQObject id="T5" cate="PortStation" MPLCName="OHBC" isValueEventTrigger="Y">
    <ValueEvent baseName="T5_READ" relativeName="PORT_READ"></ValueEvent>
    <ValueEvent baseName="T5_WRITE" relativeName="PORT_WRITE"></ValueEvent>
    <ValueEvent baseName="T5_RFID" relativeName="PORT_RFID_READ_RESULT"></ValueEvent>
    <ValueEvent baseName="T5_BOX_CST_ID" relativeName="PORT_BOX_CST_ID"></ValueEvent>
  </EQObject>
  
  <EQObject id="T6" cate="PortStation" MPLCName="OHBC" isValueEventTrigger="Y">
    <ValueEvent baseName="T6_READ" relativeName="PORT_READ"></ValueEvent>
    <ValueEvent baseName="T6_WRITE" relativeName="PORT_WRITE"></ValueEvent>
    <ValueEvent baseName="T6_RFID" relativeName="PORT_RFID_READ_RESULT"></ValueEvent>
    <ValueEvent baseName="T6_BOX_CST_ID" relativeName="PORT_BOX_CST_ID"></ValueEvent>
  </EQObject>
  
  <EQObject id="T7" cate="PortStation" MPLCName="OHBC" isValueEventTrigger="Y">
    <ValueEvent baseName="T7_READ" relativeName="PORT_READ"></ValueEvent>
    <ValueEvent baseName="T7_WRITE" relativeName="PORT_WRITE"></ValueEvent>
    <ValueEvent baseName="T7_RFID" relativeName="PORT_RFID_READ_RESULT"></ValueEvent>
    <ValueEvent baseName="T7_BOX_CST_ID" relativeName="PORT_BOX_CST_ID"></ValueEvent>
  </EQObject>
  
  <EQObject id="T8" cate="PortStation" MPLCName="OHBC" isValueEventTrigger="Y">
    <ValueEvent baseName="T8_READ" relativeName="PORT_READ"></ValueEvent>
    <ValueEvent baseName="T8_WRITE" relativeName="PORT_WRITE"></ValueEvent>
    <ValueEvent baseName="T8_RFID" relativeName="PORT_RFID_READ_RESULT"></ValueEvent>
    <ValueEvent baseName="T8_BOX_CST_ID" relativeName="PORT_BOX_CST_ID"></ValueEvent>
  </EQObject>
  
  <EQObject id="MGV1201M1" cate="PortStation" MPLCName="MGV01" isValueEventTrigger="Y">
    <ValueEvent baseName="MGV_READ" relativeName="MGV_TO_OHxC"></ValueEvent>
    <ValueEvent baseName="MGV_WRITE" relativeName="OHxC_TO_MGV"></ValueEvent>
	<ValueEvent baseName="MGV_TIME" relativeName="OHxC_TO_MGV_TIME"></ValueEvent>
  </EQObject>

</EQMapToValueEvent>