<EQMapToValueEvent>
  
  <EQObject id="T9" cate="Port" MPLCName="OHBC" isValueEventTrigger="Y">
    <ValueEvent baseName="T9_READ" relativeName="PORT_READ"></ValueEvent>
    <ValueEvent baseName="T9_WRITE" relativeName="PORT_WRITE"></ValueEvent>
    <ValueEvent baseName="T9_RFID" relativeName="PORT_RFID_READ_RESULT"></ValueEvent>
    <ValueEvent baseName="T9_BOX_CST_ID" relativeName="PORT_BOX_CST_ID"></ValueEvent>
  </EQObject>

  <EQObject id="T10" cate="Port" MPLCName="OHBC" isValueEventTrigger="Y">
    <ValueEvent baseName="T10_READ" relativeName="PORT_READ"></ValueEvent>
    <ValueEvent baseName="T10_WRITE" relativeName="PORT_WRITE"></ValueEvent>
    <ValueEvent baseName="T10_RFID" relativeName="PORT_RFID_READ_RESULT"></ValueEvent>
    <ValueEvent baseName="T10_BOX_CST_ID" relativeName="PORT_BOX_CST_ID"></ValueEvent>
  </EQObject>

  <EQObject id="T13" cate="Port" MPLCName="OHBC" isValueEventTrigger="Y">
    <ValueEvent baseName="T13_READ" relativeName="PORT_READ"></ValueEvent>
    <ValueEvent baseName="T13_WRITE" relativeName="PORT_WRITE"></ValueEvent>
    <ValueEvent baseName="T13_RFID" relativeName="PORT_RFID_READ_RESULT"></ValueEvent>
    <ValueEvent baseName="T13_BOX_CST_ID" relativeName="PORT_BOX_CST_ID"></ValueEvent>
  </EQObject>

  <EQObject id="T14" cate="Port" MPLCName="OHBC" isValueEventTrigger="Y">
    <ValueEvent baseName="T14_READ" relativeName="PORT_READ"></ValueEvent>
    <ValueEvent baseName="T14_WRITE" relativeName="PORT_WRITE"></ValueEvent>
    <ValueEvent baseName="T14_RFID" relativeName="PORT_RFID_READ_RESULT"></ValueEvent>
    <ValueEvent baseName="T14_BOX_CST_ID" relativeName="PORT_BOX_CST_ID"></ValueEvent>
  </EQObject>

</EQMapToValueEvent>