<!-- Equipment Name不可重複 -->
<!-- valueDefMapActionClass可指定多個實現com.mirle.ibg3k0.smc.data.IValueDefMapAction的類別，以","作為間隔 -->
<!-- valueDefMapActionClass所指定的class必須確保被定義在"com.mirle.ibg3k0.smc.data" Name Space下 -->
<!-- 目前eqptType支援七種：Orther、Stock,Buffer、Equipment、MTL、MTS、OHCV、HID-->
<!-- portType有兩種選項：1、2。 1代表該port是屬於load Port，2代表該port是屬於unload Port -->
<!-- portJudge: 對應到AMS設定的Port Judge Future Action -->
<!-- 用來設定基準位址，方便相對定位使用(使用十六進位)。  _R：EQPT寫入區域即EAP讀取區域、_W：EQPT讀取區域即EAP寫入區域-->
<!-- secsAgentName: 指定使用SECS Agent的名稱，對應SECSConnectionSetting.config的設定-->


<!-- 修改 EQPT id 也必須去修改 EqDefaultValueDefMapAction 裡的 Method : recordRecipeCheck -->
<EquipmentDefs shareMemoryInitClass="com.mirle.ibg3k0.sc.Data.InitAction.ShareMemoryInitProcess_Base, ScriptControl">
  <Line id="2POHT100" valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.ASEMCSDefaultMapAction, ScriptControl">
    <Zone id="VH_LINE">
      <Node id="VH_LINE" node_num="1" >
        <Vehicle id="B7_OHBLINE1_CR1" communicationType="3" valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.EQTcpIpMapAction, ScriptControl" tcpipAgentName="B7_OHBLINE1_CR1"/>
        <Vehicle id="B7_OHBLINE1_CR2" communicationType="3" valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.EQTcpIpMapAction, ScriptControl" tcpipAgentName="B7_OHBLINE1_CR2"/>
        <Vehicle id="B7_OHBLINE1_CR3" communicationType="3" valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.EQTcpIpMapAction, ScriptControl" tcpipAgentName="B7_OHBLINE1_CR3"/>
        <Vehicle id="B7_OHBLINE1_CR4" communicationType="3" valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.EQTcpIpMapAction, ScriptControl" tcpipAgentName="B7_OHBLINE1_CR4"/>
        <Vehicle id="B7_OHBLINE1_CR5" communicationType="3" valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.EQTcpIpMapAction, ScriptControl" tcpipAgentName="B7_OHBLINE1_CR5"/>
        <Vehicle id="B7_OHBLINE1_CR6" communicationType="3" valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.EQTcpIpMapAction, ScriptControl" tcpipAgentName="B7_OHBLINE1_CR6"/>
      </Node>
      <Node id="PORT_NODE" node_num="5" >
        <EQPT id="PORT_EQ" eqptType="3" communicationType="1">
          <!--<Port id="T9" unit_num="1" port_num="1" port_type="B"  valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.PortValueDefMapAction, ScriptControl"/>
          <Port id="T10" unit_num="2" port_num="2" port_type="B"  valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.PortValueDefMapAction, ScriptControl"/>
          <Port id="T13" unit_num="3" port_num="3" port_type="B"  valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.PortValueDefMapAction, ScriptControl"/>
          <Port id="T14" unit_num="4" port_num="4" port_type="B"  valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.PortValueDefMapAction, ScriptControl"/>
          <Port id="T11" unit_num="5" port_num="5" port_type="B"  valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.PortValueDefMapAction, ScriptControl"/>
          <Port id="T12" unit_num="6" port_num="6" port_type="B"  valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.PortValueDefMapAction, ScriptControl"/>
          <Port id="T15" unit_num="7" port_num="7" port_type="B"  valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.PortValueDefMapAction, ScriptControl"/>
          <Port id="T16" unit_num="8" port_num="8" port_type="B"  valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.PortValueDefMapAction, ScriptControl"/>
          <Port id="T1" unit_num="9" port_num="9" port_type="B"  valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.PortValueDefMapAction, ScriptControl"/>
          <Port id="T2" unit_num="10" port_num="10" port_type="B"  valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.PortValueDefMapAction, ScriptControl"/>
          <Port id="T3" unit_num="11" port_num="11" port_type="B"  valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.PortValueDefMapAction, ScriptControl"/>
          <Port id="T4" unit_num="12" port_num="12" port_type="B"  valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.PortValueDefMapAction, ScriptControl"/>
          <Port id="T5" unit_num="13" port_num="13" port_type="B"  valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.PortValueDefMapAction, ScriptControl"/>
          <Port id="T6" unit_num="14" port_num="14" port_type="B"  valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.PortValueDefMapAction, ScriptControl"/>
          <Port id="T7" unit_num="15" port_num="15" port_type="B"  valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.PortValueDefMapAction, ScriptControl"/>
          <Port id="T8" unit_num="16" port_num="16" port_type="B"  valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.PortValueDefMapAction, ScriptControl"/>-->

          <PortStation id="T9" unit_num="1" adr_id ="99999"  load_vh_type ="0" unload_vh_type ="0" valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.PortValueDefMapAction, ScriptControl" />
          <PortStation id="T10" unit_num="2" adr_id ="99999"  load_vh_type ="0" unload_vh_type ="0" valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.PortValueDefMapAction, ScriptControl" />
          <PortStation id="T13" unit_num="3" adr_id ="99999"  load_vh_type ="0" unload_vh_type ="0" valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.PortValueDefMapAction, ScriptControl" />
          <PortStation id="T14" unit_num="4" adr_id ="99999"  load_vh_type ="0" unload_vh_type ="0" valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.PortValueDefMapAction, ScriptControl" />
          <PortStation id="T11" unit_num="5" adr_id ="99999"  load_vh_type ="0" unload_vh_type ="0" valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.PortValueDefMapAction, ScriptControl" />
          <PortStation id="T12" unit_num="6" adr_id ="99999"  load_vh_type ="0" unload_vh_type ="0" valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.PortValueDefMapAction, ScriptControl" />
          <PortStation id="T15" unit_num="7" adr_id ="99999"  load_vh_type ="0" unload_vh_type ="0" valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.PortValueDefMapAction, ScriptControl" />
          <PortStation id="T16" unit_num="8" adr_id ="99999"  load_vh_type ="0" unload_vh_type ="0" valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.PortValueDefMapAction, ScriptControl" />
          <PortStation id="T1" unit_num="9" adr_id ="99999"  load_vh_type ="0" unload_vh_type ="0" valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.PortValueDefMapAction, ScriptControl" />
          <PortStation id="T2" unit_num="10" adr_id ="99999"  load_vh_type ="0" unload_vh_type ="0" valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.PortValueDefMapAction, ScriptControl" />
          <PortStation id="T3" unit_num="11" adr_id ="99999"  load_vh_type ="0" unload_vh_type ="0" valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.PortValueDefMapAction, ScriptControl" />
          <PortStation id="T4" unit_num="12" adr_id ="99999"  load_vh_type ="0" unload_vh_type ="0" valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.PortValueDefMapAction, ScriptControl" />
          <PortStation id="T5" unit_num="13" adr_id ="99999"  load_vh_type ="0" unload_vh_type ="0" valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.PortValueDefMapAction, ScriptControl" />
          <PortStation id="T6" unit_num="14" adr_id ="99999"  load_vh_type ="0" unload_vh_type ="0" valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.PortValueDefMapAction, ScriptControl" />
          <PortStation id="T7" unit_num="15" adr_id ="99999"  load_vh_type ="0" unload_vh_type ="0" valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.PortValueDefMapAction, ScriptControl" />
          <PortStation id="T8" unit_num="16" adr_id ="99999"  load_vh_type ="0" unload_vh_type ="0" valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.PortValueDefMapAction, ScriptControl" />
        </EQPT>
      </Node>
      <Node id="Taichung_PTI_6F" node_num="34" >
        <EQPT id="Taichung_PTI_6F" eqptType="1" communicationType="1" tcpipAgentName="" process_data_format="OHT">
          <PortStation id="2POHT100OHB1P1" unit_num="1" adr_id ="12024"  load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="2POHT100OHB1P2" unit_num="2" adr_id ="12025"  load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="2POHT100OHB1P3" unit_num="3" adr_id ="12026"  load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="2POHT100OHB1P4" unit_num="4" adr_id ="12027"  load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="2POHT100OHB1P5" unit_num="5" adr_id ="12028"  load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="2POHT100OHB1P6" unit_num="6" adr_id ="12029"  load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="2POHT100OHB2P1" unit_num="7" adr_id ="12371"  load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="2POHT100OHB2P2" unit_num="8" adr_id ="12372"  load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="2POHT100OHB2P3" unit_num="9" adr_id ="12373"  load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="2POHT100OHB2P4" unit_num="10" adr_id ="12374"  load_vh_type ="0" unload_vh_type ="0" />
        </EQPT>
      </Node>
      <Node id="MTL_NODE" node_num="7" >
        <EQPT id="MTL01" eqptType="4" communicationType="1" valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.MTLValueDefMapActionNewPH2, ScriptControl"/>
      </Node>
      <Node id="MTS_NODE" node_num="8" >
        <EQPT id="MTS01" eqptType="5" communicationType="1" valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.MTSValueDefMapActionNewPH2, ScriptControl"/>
      </Node>
    </Zone>
    <Zone id="MGV_Zone">
      <Node id="MGV_Node" node_num="4" >
        <EQPT id="MGV01" eqptType="8" communicationType="1" >
          <PortStation id="MGV1201M1" unit_num="1" adr_id ="99999"  load_vh_type ="0" unload_vh_type ="0" valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.MGVDefaultValueDefMapAction, ScriptControl" />
        </EQPT>
        <EQPT id="MGV02" eqptType="8" communicationType="1" >
          <PortStation id="MGV1202M1" unit_num="1" adr_id ="99999"  load_vh_type ="0" unload_vh_type ="0" valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.MGVDefaultValueDefMapAction, ScriptControl" />
        </EQPT>
      </Node>
    </Zone>
    <Zone id="HID_Zone">
      <Node id="HID_Node" node_num="9" >
        <EQPT id="HID01" eqptType="7" communicationType="1" />
        <EQPT id="HID02" eqptType="7" communicationType="1" />
        <EQPT id="HID03" eqptType="7" communicationType="1" />
        <EQPT id="HID04" eqptType="7" communicationType="1" />
        <EQPT id="HID05" eqptType="7" communicationType="1" />
        <EQPT id="HID06" eqptType="7" communicationType="1" />
      </Node>
    </Zone>
  </Line>
</EquipmentDefs>