<!-- Equipment Name不可重複 -->
<!-- valueDefMapActionClass可指定多個實現com.mirle.ibg3k0.smc.data.IValueDefMapAction的類別，以","作為間隔 -->
<!-- valueDefMapActionClass所指定的class必須確保被定義在"com.mirle.ibg3k0.smc.data" Name Space下 -->
<!-- 目前eqptType支援七種：Orther、Stock,Buffer、Equipment、MTL、MTS、OHCV、HID-->
<!-- portType有兩種選項：1、2。 1代表該port是屬於load Port，2代表該port是屬於unload Port -->
<!-- portJudge: 對應到AMS設定的Port Judge Future Action -->
<!-- 用來設定基準位址，方便相對定位使用(使用十六進位)。  _R：EQPT寫入區域即EAP讀取區域、_W：EQPT讀取區域即EAP寫入區域-->
<!-- secsAgentName: 指定使用SECS Agent的名稱，對應SECSConnectionSetting.config的設定-->
<!-- eqptType:Orther = 0,Stock = 1,Buffer = 2,Equipment = 3,MTL = 4,MTS = 5,OHCV = 6,HID = 7,MGV = 8-->

<!-- 修改 EQPT id 也必須去修改 EqDefaultValueDefMapAction 裡的 Method : recordRecipeCheck -->
<EquipmentDefs shareMemoryInitClass="com.mirle.ibg3k0.sc.Data.InitAction.ShareMemoryInitProcess_Base, ScriptControl">
  <Line id="2POHT100" valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.ASEMCSDefaultMapAction, ScriptControl">
    <Zone id="VH_LINE">
      <Node id="VH_LINE" node_num="1" >
        <Vehicle id="B7_OHBLINE1_CR1" communicationType="3" valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.EQTcpIpMapAction, ScriptControl" tcpipAgentName="B7_OHBLINE1_CR1"/>
        <Vehicle id="B7_OHBLINE1_CR2" communicationType="3" valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.EQTcpIpMapAction, ScriptControl" tcpipAgentName="B7_OHBLINE1_CR2"/>
        <Vehicle id="B7_OHBLINE1_CR3" communicationType="3" valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.EQTcpIpMapAction, ScriptControl" tcpipAgentName="B7_OHBLINE1_CR3"/>
        <Vehicle id="B7_OHBLINE1_CR4" communicationType="3" valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.EQTcpIpMapAction, ScriptControl" tcpipAgentName="B7_OHBLINE1_CR4"/>
        <Vehicle id="B7_OHBLINE1_CR5" communicationType="3" valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.EQTcpIpMapAction, ScriptControl" tcpipAgentName="B7_OHBLINE1_CR5"/>
        <Vehicle id="B7_OHBLINE1_CR6" communicationType="3" valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.EQTcpIpMapAction, ScriptControl" tcpipAgentName="B7_OHBLINE1_CR6"/>
      </Node>
      <Node id="PORT_NODE" node_num="5" >
        <EQPT id="PORT_EQ" eqptType="3" communicationType="1">
          <Port id="2PSTK400T1" unit_num="1" port_num="1" port_type="B"  valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.PortValueDefMapAction, ScriptControl"/>
          <Port id="MASTER_PLC" unit_num="20" port_num="20" port_type="B"  valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.PLCSystemInfoMapAction, ScriptControl"/>
        </EQPT>
      </Node>
      <Node id="Taichung_PTI_6F" node_num="34" >
        <EQPT id="Taichung_PTI_6F" eqptType="1" communicationType="1" tcpipAgentName="" process_data_format="OHT">
          <PortStation id="2POHT100OHB1P1" unit_num="1" adr_id ="12024"  load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="2POHT100OHB1P2" unit_num="2" adr_id ="12025"  load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="2POHT100OHB1P3" unit_num="3" adr_id ="12026"  load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="2POHT100OHB1P4" unit_num="4" adr_id ="12027"  load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="2POHT100OHB1P5" unit_num="5" adr_id ="12028"  load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="2POHT100OHB1P6" unit_num="6" adr_id ="12029"  load_vh_type ="0" unload_vh_type ="0" />

          <PortStation id="2POHT100OHB2P1" unit_num="7" adr_id ="12371"  load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="2POHT100OHB2P2" unit_num="8" adr_id ="12372"  load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="2POHT100OHB2P3" unit_num="9" adr_id ="12373"  load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="2POHT100OHB2P4" unit_num="10" adr_id ="12374"  load_vh_type ="0" unload_vh_type ="0" />

          <PortStation id="T9" unit_num="11" adr_id ="15052"  load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="T10" unit_num="12" adr_id ="15056"  load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="T11" unit_num="13" adr_id ="15336"  load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="T12" unit_num="14" adr_id ="15129"  load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="T13" unit_num="15" adr_id ="15071"  load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="T14" unit_num="16" adr_id ="15072"  load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="T15" unit_num="17" adr_id ="15098"  load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="T16" unit_num="18" adr_id ="15099"  load_vh_type ="0" unload_vh_type ="0" />
        </EQPT>
      </Node>
    </Zone>
    <Zone id="MGV_Zone">
      <Node id="MGV_Node" node_num="4" >
        <EQPT id="MGV01" eqptType="8" communicationType="1" valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.MGVDefaultValueDefMapAction, ScriptControl">
          <Port id="MGV01_Port1" unit_num="1" port_num="1" port_type="B"  />
        </EQPT>
      </Node>
    </Zone>
  </Line>
</EquipmentDefs>