<?xml version="1.0" encoding="utf-8" ?>
<!-- Connection Type: 1 = Mitsubishi, 2 = Mirle, 3 = ADAM-6050-->
<!--
ReadIntervalMilliSec 讀取速度
IdRedix 進制
BufferLength Array大小
Type 區塊種類  (D W F B)
-->

<MPLCConnectionSetting>
  <Connection Name="OHBC" Type="1" LogicalStationNumber ="6" ReadIntervalMilliSec="200" MaxMPLCPoolSize="1" MaxMPLCWaitTime="4" MaxMPLCRetryCount="3"
           AliveMPLCDeviceBlock="W41">
    <Device Type="D" BufferLength="80000" IdRadix="10" BlockBitCount="16" DeviceBitCount="16">
      <ReadRange BeginBlock="6400" EndBlock="10239"></ReadRange>
    </Device>
  </Connection>
  
  <Connection Name="MGV01" Type="1" LogicalStationNumber ="5" ReadIntervalMilliSec="2000" MaxMPLCPoolSize="3" MaxMPLCWaitTime="4" MaxMPLCRetryCount="3"
      AliveMPLCDeviceBlock="W41">
    <Device Type="D" BufferLength="80000" IdRadix="10" BlockBitCount="16" DeviceBitCount="16">
      <ReadRange BeginBlock="6400" EndBlock="7000"></ReadRange>
    </Device>
  </Connection>
  
  <Connection Name="MGV02" Type="1" LogicalStationNumber ="3" ReadIntervalMilliSec="2000" MaxMPLCPoolSize="3" MaxMPLCWaitTime="4" MaxMPLCRetryCount="3"
      AliveMPLCDeviceBlock="W41">
    <Device Type="D" BufferLength="80000" IdRadix="10" BlockBitCount="16" DeviceBitCount="16">
      <ReadRange BeginBlock="6400" EndBlock="7000"></ReadRange>
    </Device>
  </Connection>
  
  <Connection Name="MTx_1" Type="1" LogicalStationNumber ="2" ReadIntervalMilliSec="1000" MaxMPLCPoolSize="3" MaxMPLCWaitTime="4" MaxMPLCRetryCount="3"
                 AliveMPLCDeviceBlock="W41">
    <Device Type="W" BufferLength="80000" IdRadix="16" BlockBitCount="16" DeviceBitCount="16">
      <ReadRange BeginBlock="00000" EndBlock="000FF"></ReadRange>
    </Device>
    <Device Type="B" BufferLength="80000" IdRadix="16" BlockBitCount="16" DeviceBitCount="1">
      <ReadRange BeginBlock="0000" EndBlock="00FF"></ReadRange>
    </Device>
  </Connection>
  
   <Connection Name="MTx_2" Type="1" LogicalStationNumber ="7" ReadIntervalMilliSec="1000" MaxMPLCPoolSize="3" MaxMPLCWaitTime="4" MaxMPLCRetryCount="3"
                 AliveMPLCDeviceBlock="W41">
    <Device Type="W" BufferLength="80000" IdRadix="16" BlockBitCount="16" DeviceBitCount="16">
      <ReadRange BeginBlock="0000" EndBlock="00FF"></ReadRange>
    </Device>
    <Device Type="B" BufferLength="80000" IdRadix="16" BlockBitCount="16" DeviceBitCount="1">
      <ReadRange BeginBlock="0000" EndBlock="00FF"></ReadRange>
    </Device>
  </Connection> 
  
  
</MPLCConnectionSetting>