<?xml version="1.0" encoding="utf-8" ?>
<!-- Connection Type: 1 = Mitsubishi, 2 = Mirle, 3 = ADAM-6050-->
<!--
ReadIntervalMilliSec 讀取速度
IdRedix 進制
BufferLength Array大小
Type 區塊種類  (D W F B)
-->

<MPLCConnectionSetting>
  <Connection Name="OHBC" Type="4" IP="192.168.1.226" Port="7000" ReadIntervalMilliSec="200" MaxMPLCPoolSize="1" MaxMPLCWaitTime="4" MaxMPLCRetryCount="3"
           AliveMPLCDeviceBlock="W41">
    <Device Type="D" BufferLength="80000" IdRadix="10" BlockBitCount="16" DeviceBitCount="16">
      <ReadRange BeginBlock="6400" EndBlock="10239"></ReadRange>
    </Device>
  </Connection>
  
  <Connection Name="MGV01" Type="1" LogicalStationNumber ="5" ReadIntervalMilliSec="2000" MaxMPLCPoolSize="3" MaxMPLCWaitTime="4" MaxMPLCRetryCount="3"
      AliveMPLCDeviceBlock="W41">
    <Device Type="D" BufferLength="80000" IdRadix="10" BlockBitCount="16" DeviceBitCount="16">
      <ReadRange BeginBlock="6400" EndBlock="7000"></ReadRange>
    </Device>
  </Connection>
  
  <Connection Name="MGV02" Type="1" LogicalStationNumber ="2" ReadIntervalMilliSec="2000" MaxMPLCPoolSize="3" MaxMPLCWaitTime="4" MaxMPLCRetryCount="3"
      AliveMPLCDeviceBlock="W41">
    <Device Type="D" BufferLength="80000" IdRadix="10" BlockBitCount="16" DeviceBitCount="16">
      <ReadRange BeginBlock="6400" EndBlock="7000"></ReadRange>
    </Device>
  </Connection>
  
  <!-- <Connection Name="MGV02" Type="4" IP="192.168.1.227" Port="7002" ReadIntervalMilliSec="200" MaxMPLCPoolSize="1" MaxMPLCWaitTime="4" MaxMPLCRetryCount="3" -->
           <!-- AliveMPLCDeviceBlock="W41"> -->
    <!-- <Device Type="D" BufferLength="80000" IdRadix="10" BlockBitCount="16" DeviceBitCount="16"> -->
      <!-- <ReadRange BeginBlock="6400" EndBlock="7000"></ReadRange> -->
    <!-- </Device> -->
  <!-- </Connection> -->
  
  <!-- <Connection Name="MTL&MTS_1" Type="4" IP="192.168.1.228" Port="7002" ReadIntervalMilliSec="200" MaxMPLCPoolSize="1" MaxMPLCWaitTime="4" MaxMPLCRetryCount="3"
           AliveMPLCDeviceBlock="W41">
    <Device Type="D" BufferLength="80000" IdRadix="10" BlockBitCount="16" DeviceBitCount="16">
      <ReadRange BeginBlock="20000" EndBlock="30000"></ReadRange>
    </Device>
  </Connection> -->
  
  <!-- <Connection Name="MTL&MTS_2" Type="4" IP="192.168.1.229" Port="7003" ReadIntervalMilliSec="200" MaxMPLCPoolSize="1" MaxMPLCWaitTime="4" MaxMPLCRetryCount="3"
           AliveMPLCDeviceBlock="W41">
    <Device Type="D" BufferLength="80000" IdRadix="10" BlockBitCount="16" DeviceBitCount="16">
      <ReadRange BeginBlock="20000" EndBlock="30000"></ReadRange>
    </Device>
  </Connection> -->
  
  
  
  <!--
  <Connection Name="OHBC" Type="1" LogicalStationNumber ="2" ReadIntervalMilliSec="2000" MaxMPLCPoolSize="3" MaxMPLCWaitTime="4" MaxMPLCRetryCount="3"
      AliveMPLCDeviceBlock="W41">
    <Device Type="D" BufferLength="80000" IdRadix="10" BlockBitCount="16" DeviceBitCount="16">
      <ReadRange BeginBlock="20000" EndBlock="30000"></ReadRange>
    </Device>
  </Connection>
-->

  <Connection Name="MTL" Type="2" IP="127.0.0.1" Port="502" ReadIntervalMilliSec="1000" MaxMPLCPoolSize="3" MaxMPLCWaitTime="4" MaxMPLCRetryCount="3"
                 AliveMPLCDeviceBlock="43079">
    <Device Type="4" BufferLength="9999" IdRadix="10" BlockBitCount="16" DeviceBitCount="16">
      <ReadRange BeginBlock="3108" EndBlock="3177"></ReadRange>
    </Device>
    <Device Type="0" BufferLength="1000" IdRadix="10" BlockBitCount="16" DeviceBitCount="1">
      <ReadRange BeginBlock="624" EndBlock="641"></ReadRange>
    </Device>
  </Connection>
  
</MPLCConnectionSetting>