<EQMapToValueEvent>

  <EQObject id="2PSTK400T1" cate="Port" MPLCName="OHBC" isValueEventTrigger="Y">
    <ValueEvent baseName="2PSTK400T1_READ" relativeName="PORT_READ"></ValueEvent>
    <ValueEvent baseName="2PSTK400T1_WRITE" relativeName="PORT_WRITE"></ValueEvent>
    <ValueEvent baseName="2PSTK400T1_RFID" relativeName="PORT_RFID_READ_RESULT"></ValueEvent>
    <ValueEvent baseName="2PSTK400T1_BOX_CST_ID" relativeName="PORT_BOX_CST_ID"></ValueEvent>
  </EQObject>
  
  
  <!--System info-->
  <EQObject id="MASTER_PLC" cate="Port" MPLCName="OHBC" isValueEventTrigger="Y">
    <ValueEvent baseName="MASTER_PLC_SYSTEM_INFO" relativeName="SET_SYSTEM_INFO_TO_MASTER"></ValueEvent>
  </EQObject>
</EQMapToValueEvent>