<!-- Equipment Name不可重複 -->
<!-- valueDefMapActionClass可指定多個實現com.mirle.ibg3k0.smc.data.IValueDefMapAction的類別，以","作為間隔 -->
<!-- valueDefMapActionClass所指定的class必須確保被定義在"com.mirle.ibg3k0.smc.data" Name Space下 -->
<!-- 目前eqptType支援七種：Orther、Stock,Buffer、Equipment、MTL、MTS、OHCV、HID-->
<!-- portType有兩種選項：1、2。 1代表該port是屬於load Port，2代表該port是屬於unload Port -->
<!-- portJudge: 對應到AMS設定的Port Judge Future Action -->
<!-- 用來設定基準位址，方便相對定位使用(使用十六進位)。  _R：EQPT寫入區域即EAP讀取區域、_W：EQPT讀取區域即EAP寫入區域-->
<!-- secsAgentName: 指定使用SECS Agent的名稱，對應SECSConnectionSetting.config的設定-->            


<!-- 修改 EQPT id 也必須去修改 EqDefaultValueDefMapAction 裡的 Method : recordRecipeCheck -->
<EquipmentDefs shareMemoryInitClass="com.mirle.ibg3k0.sc.Data.InitAction.ShareMemoryInitProcess_Base, ScriptControl">
  <Line id="B7_OHBLINE1" valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.ASEMCSDefaultMapAction, ScriptControl">
    <Zone id="VH_LINE">
      <Node id="VH_LINE" node_num="1" >
        <Vehicle id="B7_OHBLINE1_CR1" communicationType="3" valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.EQTcpIpMapAction, ScriptControl" tcpipAgentName="B7_OHBLINE1_CR1"/>
        <Vehicle id="B7_OHBLINE1_CR2" communicationType="3" valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.EQTcpIpMapAction, ScriptControl" tcpipAgentName="B7_OHBLINE1_CR2"/>
        <Vehicle id="B7_OHBLINE1_CR3" communicationType="3" valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.EQTcpIpMapAction, ScriptControl" tcpipAgentName="B7_OHBLINE1_CR3"/>
        <Vehicle id="B7_OHBLINE1_CR4" communicationType="3" valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.EQTcpIpMapAction, ScriptControl" tcpipAgentName="B7_OHBLINE1_CR4"/>
        <Vehicle id="B7_OHBLINE1_CR5" communicationType="3" valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.EQTcpIpMapAction, ScriptControl" tcpipAgentName="B7_OHBLINE1_CR5"/>
        <Vehicle id="B7_OHBLINE1_CR6" communicationType="3" valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.EQTcpIpMapAction, ScriptControl" tcpipAgentName="B7_OHBLINE1_CR6"/>
      </Node>
      <Node id="PORT_NODE" node_num="5" >
        <EQPT id="PORT_EQ" eqptType="3" communicationType="1">
          <Port id="2PSTK400T1" unit_num="1" port_num="1" port_type="B"  valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.PortValueDefMapAction, ScriptControl"/>
          <Port id="MASTER_PLC" unit_num="20" port_num="20" port_type="B"  valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.PLCSystemInfoMapAction, ScriptControl"/>
        </EQPT>
      </Node>
      <Node id="Taichung_PTI_6F" node_num="34" >
        <EQPT id="Taichung_PTI_6F" eqptType="1" communicationType="1" tcpipAgentName="" process_data_format="OHT">
          <PortStation id="20311" unit_num="1" adr_id ="20311"  load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="20411" unit_num="1" adr_id ="20411"  load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="20316" unit_num="1" adr_id ="20316"  load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="20416" unit_num="1" adr_id ="20416"  load_vh_type ="0" unload_vh_type ="0" />

          <PortStation id="2POHT100OHB2P1" unit_num="1" adr_id ="20411"  load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="2POHT100OHB2P2" unit_num="1" adr_id ="20416"  load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="DEV110301" unit_num="1" adr_id ="20311"  load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="DEV110302" unit_num="1" adr_id ="20316"  load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="PLP110201" unit_num="1" adr_id ="30102"  load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="PLP110101" unit_num="1" adr_id ="30103"  load_vh_type ="0" unload_vh_type ="0" />
        </EQPT>
      </Node>
    </Zone>
  </Line>
</EquipmentDefs>